<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NBB</title>
       <link rel="stylesheet" href="/style/tailwind.style.css">
       <link rel="stylesheet" href="/style/bedrijfOutput.style.css">
       <link rel="stylesheet" href="/style/footer.style.css">
       <link rel="stylesheet" href="/style/searchbar.style.css">
       <link rel="stylesheet" href="/style/responsive.style.css">
    </head>
    <body class=" mx-auto">
        <header class="headerClass mx-auto border-b-2 border-black mb-5 pb-2">
            <h1 class="text-xl italic mb-5">De NBB - API </h1>


            <nav class="container mx-auto">
                <a href="/" class="mr-2 font-light hover:font-semibold">Home</a> <a href="/history" class="mr-2 font-light hover:font-semibold active:font-semibold">History</a>
            </nav>

             
        </header>
        <main class="containerClass mx-auto pt-5">

            
